p {
  /* line-height: 32px; */   /* within paragraph */
  margin-bottom: 20px; /* between paragraphs */
  }

.flexbox {
    display: flex;
    justify-content: space-between;
}




.cv-name {
    font-weight: bold;
    text-align: center;
    font-size: 150%;
}

.cv-contact {
    text-align: center;
}

